{% if template.name == "collection" %}
    {% assign banner_image = collection.metafields.custom.banner_image %}
    {% assign mobile_banner_image = collection.metafields.custom.mobile_banner_image %}

    
    {% if banner_image %}
    <div class="container_banner_image {{ section.settings.classname }} {% if mobile_banner_image %} hide_mobile {% endif %}">
        <img src="{{ banner_image | image_url }}" alt="{{ collection.title }}" class="img-fluid" width="" height="">
    </div>
    {% endif %}


    {% if mobile_banner_image %}
    <div class="container_banner_image {{ section.settings.classname }} show_mobile">
        <img src="{{ mobile_banner_image | image_url }}" alt="{{ collection.title }}" class="img-fluid" width="" height="">
    </div>
    {% else %}
        
    {% endif %}


    

    <div class="container breadcrumb_list">
        {% render 'breadcrumb', alignment: breadcrumb_alignment %}
    </div>

    {% assign linked_collections = collection.metafields.custom.linked_collections %}
    {% if linked_collections %}
    <div class="container container_collecttion_list {{ section.settings.classname }}">
        {% assign linked_collections = collection.metafields.custom.linked_collections.value %}

        {% if linked_collections %}
        <div class="linked-collections">
            {% for linked_collection in linked_collections %}
            <div class="collection-item">
                
                <a href="{{ linked_collection.url }}" class="collection-link">
                    {% assign linked_collection_image = linked_collection.metafields.custom.linked_collection_image %}
                    {% if linked_collection_image %}
                        <img src="{{ linked_collection_image | image_url }}"
                            alt="{{ linked_collection.title }}"
                            width=""
                            height="auto"
                            loading="lazy">
                    
                    {% else %}    
                        {% if linked_collection.featured_image %}
                        <img src="{{ linked_collection.featured_image | image_url }}"
                            alt="{{ linked_collection.title }}"
                            width=""
                            height="auto"
                            loading="lazy">
                        {% endif %}
                    {% endif %}    
    
                    <h3>{{ linked_collection.title }}</h3>
                
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
    {% endif %}

    
    {% assign view_more_collections = collection.metafields.custom.view_more_collections %}
    {% if view_more_collections %}

        <div class="container view_more_collections_header" style="text-align:center;">
            <h2 class="heading scroll-trigger animate--slide-in" 
                style="--animation-order:  1;
                --color-heading-style: #000000;
                --fontsize-heading-style: 40px;
                --heading-size-mb-style: 30px;
                --heading-line-height-style: 2.8">VIEW MORE COLLECTIONS</h2>
        </div>
        

        <div class="container container_collecttion_list {{ section.settings.classname }}">
        {% assign view_more_collections = collection.metafields.custom.view_more_collections.value %}

        {% if view_more_collections %}
        <div class="linked-collections">
            {% for linked_collection in view_more_collections %}
            <div class="collection-item">
                
                <a href="{{ linked_collection.url }}" class="collection-link">
                    {% assign linked_collection_image = linked_collection.metafields.custom.linked_collection_image %}
                    {% if linked_collection_image %}
                        <img src="{{ linked_collection_image | image_url }}"
                            alt="{{ linked_collection.title }}"
                            width=""
                            height="auto"
                            loading="lazy">
                    
                    {% else %}    
                        {% if linked_collection.featured_image %}
                        <img src="{{ linked_collection.featured_image | image_url }}"
                            alt="{{ linked_collection.title }}"
                            width=""
                            height="auto"
                            loading="lazy">
                        {% endif %}
                    {% endif %}    
    
                    <h3>{{ linked_collection.title }}</h3>
                
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
    
    {% endif %}


    <style>
        .breadcrumb_list .breadcrumb {
            padding: 50px 0 0;
        }
        .container_banner_image img {
            height: auto;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        .linked-collections {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 20px;
            margin: 50px 0 0;
        }

        .linked-collections .collection-item img {
            max-height: 350px;
            width: 100%;
            object-fit: cover;
            object-position: top;
            transition: 0.5s ease;
        }

        a.collection-link {
            position: relative;
            overflow: hidden;
        }


        a.collection-link h3 {
            position: relative;
            text-align: left;
            padding: 0;
            opacity: 1;
            transition: 0.5s ease;
            color: black;
            font-size: 16px;
            line-height: 1.2;
        }

        {% comment %} a.collection-link:hover h3 {
            opacity: 0;
        } {% endcomment %}

        a.collection-link:hover img {
            transform: scale(0.95);
        }

        .view_more_collections_header h2 {
            margin: 0;
        }

        .view_more_collections_header {
            margin: 50px auto 0;
        }

        {% comment %}  {% endcomment %}
        @media all and (max-width:767px){
            .container_banner_image img {
                height: auto;
            }

            .linked-collections {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            {% comment %} .linked-collections .collection-item {
                width: 38%;
                min-width: 38%;
            } {% endcomment %}

            a.collection-link h3 {
                font-size: 14px;
                line-height: 20px;
                padding: 0 10px;
            }

            .linked-collections .collection-item img {
                max-height: 250px;
                height:250px;
                object-fit:cover;
            }
        }
    </style>
    
{% endif %}    

{% schema %}
{
  "name": "Collection List",
  "tag": "section",
  "limit":1,
   "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
  "settings": [
    {
      "type": "text",
      "id": "classname",
      "label": "Classname"
    }
  ],
  "presets": [
    {
      "name": "Collection List"
    }
  ]
}
{% endschema %}
